.container {
  text-align: center;
  font-family: "Helvetica", arial, sans-serif;
}

.container > div {
  display: inline-block;
}

.header {
  margin: 10px;
  min-width: 1100px;
}
.board-list {
  max-width: 1140px;
}
.header .author {
  font-size: 2em;
  font-weight: bold;
  margin: 10px;
}

.stats {
  list-style: none;
}
.stats li {
  display: inline-block;
  margin: 0 5%;
  color: darkgray;
}
.stats .selected {
  color: red;
}
.stats .count {
  display: block;
}

.follow-button {
  color: red;
  border: 1px solid grey;
  text-transform: capitalize;
  padding: 5px;
  font-weight: bold;
  background-image: linear-gradient(white, #ddd);
}
.follow-button:hover {
  box-shadow: 0 0 2px black;
}
.follow-button:active {
  background-image: linear-gradient(#ddd, white);
}
.content-with-overlay {
  position: relative;
}
.overlay-bottom-left {
  position: absolute;
  bottom: 8px;
  left: 4px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
}

.board .overlay-bottom-left {
  padding: 0 0.5em;
  font-size: small;
  line-height: 2em;
}
